{{!-- <body> --}}
<header>
    <div class="row1">
    <div class="title">
        <h1 class="hometitle">Plant It</h1>
    </div>
    <div class="btnGroup">
            {{#if logged_in}}
            <button class="homebtn"><a href="/profile">My Profile</a></button>
            <button class="login" id="logoutBtn">Logout</button>
            {{else}}
            
            <button class="login" id="loginBtn">Login</button>
            {{/if}}
    </div>
</div>
<div class="row2">
    <h2>Stop and read about the roses</h2>
</div>
</header>
<div class="main">
    {{!-- {{#if !logged_in}} --}}
    {{!-- <div class="statBox">
        <form class="form">
            <h3>Login</h3>
            <div class="property">
              <label for="latin-name">Email:</label>
              <input class="" type="text" id="latin-name" name="latin-name" />
            </div>
            <div class="property">
              <label for="plant-desc">Password:</label>
              <input class="" id="plant-desc" name="plant-desc" />
            </div>
            <div class="">
              <button type="submit" class="postButton">Login</button>
            </div>
        </form>
    </div> --}}
    {{!-- {{/if}} --}}
    {{!-- <div class="statBox">
        <form class="form">
            <h3>Sign Up</h3>
            <div class="property">
              <label for="common-name">User Name:</label>
              <input class="" type="text" id="common-name" name="common-name" />
            </div>
            <div class="property">
              <label for="latin-name">Email:</label>
              <input class="" type="text" id="latin-name" name="latin-name" />
            </div>
            <div class="property">
              <label for="plant-desc">Password:</label>
              <input class="" id="plant-desc" name="plant-desc" />
            </div>
            <div class="">
              <button type="submit" class="postButton">Create Account</button>
            </div>
        </form>
    </div> --}}
    <div class="statBox">
      {{!-- <div class="activity"> --}}
      {{!-- {{#if plants.length}} --}}
        <div class="allPosts">
             {{#each plants as |plant| }}
                <div class="singlePost">
                    {{!-- the image will need to have logic behind name matching the name of the plant with a plant from the botcanic api to list the url as the source of the image --}}
                    <img id="plantImg" src="" alt="">
                    <h2>{{plant.common_name}}</h2>
                    <h3 id="plantName">{{plant.latin_name}}</h3>
                    <p>{{plant.description}}</p>
                    <p>{{format_date plant.date_submitted}}</p>
                </div>
            {{/each}}
        </div>
        {{!-- </div> --}}
        {{!-- {{/if}} --}}
    </div>
</div>
{{!-- <script src="/js/plantFunc.js"></script> --}}
{{!-- {{#if logged_in}} --}}
{{!-- <script src="/js/logout.js"></script> --}}
{{!-- {{/if}} --}}
{{!-- <script src="/js/login.js"></script> --}}
{{!-- <script src="../public/js/login.js"></script> --}}
{{!-- <script src="/js/homepage.js"></script> --}}
{{!-- </body> --}}
