{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Plant It - Profile</title>
</head> --}}
{{!-- <body> --}}
    <header>
        <div class="row1">
        <h1>
           <span class="title">{{username}}</span>
        </h1>
        <div class="btnGroup">
            <button class="homebtn"><a href="/">Home</a></button>
            {{!-- <button class="login">Login</button> --}}
            <button class="login" id="logoutBtn">Logout</button>
        </div>
        </div>
        <div class="row2">
        <h3 class="bio">
            <p>So glad you're here. At your profile. Which you made. And now you can look at it. So that's nice.</p>
        </h3>
    </div>
    </header>
<div class="main">
    {{!-- <div class="statBox">
        <h4>User Stats</h4>
        <ul class="statList">
            <!-- followers and following are properties of user? -->
            <li class="followers">Followers:</li>
            <li class="following">Following:</li>
            <li class="postNum">Number of Posts:</li>
            <!-- counter whenevr a plant gets created by a useer -->
            <li class="likeNum">Number of Liked Posts:</li>
            <!-- counter on liked posts that gets incremented -->
        </ul>
    </div> --}}
    {{!-- <div class="activity"> --}}
        <!-- comment box will become make a new post form -->
        <div class="statBox">
            <form class="form">
                <h3>Post a Plant</h3>
                <div class="property">
                  <label for="common-name">Common Name:</label>
                  <input class="" type="text" id="common-name" name="common-name" />
                </div>
                <div class="property">
                  <label for="latin-name">Latin Name:</label>
                  <input class="" type="text" id="latin-name" name="latin-name" />
                </div>
                <div class="property">
                  <label for="plant-desc">Description:</label>
                  <textarea class="" id="plant-desc" name="plant-desc"></textarea>
                </div>
                <div class="">
                  <button type="submit" id="postIt" class="postButton">Post It</button>
                </div>
              </form>
        </div>
        <div class="statBox">
        {{#if plants.length}}
        <div class="allPosts">
            {{#each plants as |plant| }}
                <div class="singlePost">
                    {{!-- the image will need to have logic behind name matching the name of the plant with a plant from the botcanic api to list the url as the source of the image --}}
                    <img src="" alt="">
                    <h2><a href="/plants/{{plant.id}}"></a>{{plant.common_name}}</a></h2>
                    <h3>{{plant.latin_name}}</h3>
                    <p>{{plant.description}}</p>
                    <p>{{format_date plant.date_submitted}}</p>
                    <button class="delBtn" data-id="{{plant.id}}">X</button>
                </div>
            {{/each}}
        </div>
         {{/if}}
    </div>
{{!-- </div> --}}
</div>
<script src="/js/logout.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/plantFunc.js"></script>
